@font-face{
 font-family: 'AinslieW01-NormRegular';
 src: url('Ainslie-W01-Norm-Regular-V2.TTO');
 

}

@font-face {
    font-family: 'AinslieW01-NormBold';
    src: url('Ainslie-W01-Norm-Bold-V1.TTF');
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}
body {
    width: 100%;

    font-family: 'AinslieW01-NormRegular';

    background: #FFFFFF;
}

header {
    width: 100%;

    padding-top: 18px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;    
    /* border: 1px solid #181818; */
    /* background-color: aqua;     */

    position: sticky;
    top: 0;

    z-index: 1000;
}


.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    position: relative;
    left: 40px;
    width: 25%;
    
    /* border: 1px solid #181818; */
    /* background-color: blue; */
}

.home-logo {
    width: 90px;

    cursor: pointer;
    
}

.logo h1 {

    padding-left: 7px;

    font-family: 'AinslieW01-NormRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 1px;
    color: #1E88E5;
    
    mix-blend-mode: multiply;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
}

.logo:active{
    color: #1E88E5;
}

nav {
    
    border: 1px solid #181818;
}

nav li {
    display: inline-flex;
    margin-right: 2vw;
    list-style-type: none;
}

nav a {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-decoration: none;

    color: #000000;
}

nav a:hover {
    border-bottom: 1px solid #000000;

}

.button-login {
    width: 130px;
    height: 39px;

    background-color: #64B5F6;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

.button-login:hover {
    transition: 0.3s;
    background-color: #1976D2;
}

main {
    width: 100%;
    
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 80vh;
    /* padding-top: 20px; */

    /* border: 1px solid #000000; */
}

.container-home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid #000000;
}

.caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    width: 533px;
    height: 296px;

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    position: relative;
    left: 90px;
    top: 100px;
    z-index: 1;

    /* border: 1px solid #000000; */
    border-radius: 38px;

    background: rgba(255, 255, 255, 0.75);

}

.caption h1 {
    font-family: 'AinslieW01-NormBold';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;

    color: #000000;
}

.caption p {
    font-family: serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;

    color: #000000;
}

.caption span {
    font-weight: 700;
    color: #1E88E5;
}

.pendaftaran {
    position: relative;
    top: 70px;
    left: 150px;
    text-align: center;

    border: 1px solid #000000;
}

.button-daftar {
    width: 173px;
    height: 42px;

    background: #64B5F6;
    color: #FFFFFF;

    border-radius: 10px;
    border: none;

    margin-top: 30px;

}

.button-daftar:hover {
    transition: 0.3s;
    background-color: #1976D2;
} 

.pendaftaran p{
    color: #000000;
    font-family: serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    margin-top: 20px;

    border: 1px solid #000000;
}

.featured-img{
    width: 670px;
    height: 854px;
    object-fit: cover;
    object-position: center;
    border-radius: 28px;

    position: relative;
    right: 120px;

}

figure {
    /* border: 1px solid #000000; */
}


/* Tentang-Kami */
.container-tentang-kami{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.container-elipse {
    width: 10%;
    /* height: 20vh; */

    display: flex;
    flex-wrap: wrap;
    
    position: absolute;
    /* top: 100px; */
    /* left: 120px; */
    border: 1px solid #000000;
}
.elipse {
    width: 80px;
    height: 80px;

    border-radius: 100%;
}

.biru-pudar {
    position: absolute;
    top: 25px;
    left: -20px;
    background: #E3F2FD;
    z-index: 2;

}

.biru-terang {
    position: absolute;
    top: 50px;
    left: 20px;
    background: #1976D2;
    z-index: 1;
}
.biru-transparant {
    position: absolute;
    left: 25px;
    background: #90CAF9;

}

.caption-tentang-kami{
    border: 1px solid #000000;
}

.judul-caption{
    width: 40%;
    padding: 10px;
    
    text-align: center;
    border-radius: 87.5px;
    background: #1E88E5;
    border: 1px solid #000000;
}

.caption-tentang-kami h1{
    font-family: 'AinslieW01-NormBold';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 87px;
    color: #ffffff;
}

.content-caption{
    width: 40%;

    border: 1px solid #000000;
}

.featured-img-tentang-kami{
    width: 493px;
    height: 358;

    border-radius: 311px;
}

/* Jenis Layanan */
